	body {
		font-family: 'Eczar', serif;
		font-size:120%;
		padding:0;
		margin:0;
		text-align:center;
	}

	#signature canvas, #picture canvas, video {border:1px solid #000;}
	h3 {
		flex:1 100%;
		align-self: stretch;
	}

	#nav2 {
		clear:left;
		float:left;
		width:100%;
		border-bottom:2px solid blue;
		background-color:darkblue;
		color:#fff;
	}

	#nav2 h2 {
		color:#fff;
		margin:0.2em;
		padding: 0;
		text-align:left;
		float:left;
	}


	div#droppableZone {
		height: 200px;
		width: 600px;
		border: 4px dashed #000;
		background-color: #eaeaea;
		text-align: center;
		cursor: move;
		margin: 0 auto;
	}
	.dragged {
		border: 1px dashed #000;
		background-color: green;
	}
	.draggedOver {
		border: 1px dashed #000;
		background-color: green;
	}  

	.thumb {
		border:1px dotted #000;
		margin:2px;
		width: 64px;
		height:64px;
	}


	header {
		margin:0;
		float:left;
		width: 100%;
		margin:0;
		padding:0;
		background-color:blue;
	}

	h1 {
		
		color:#fff;
		padding:0;
		margin:0.2em;
		text-align:left;
		float:left;
	}

	#left{
		display:flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex:2;
		padding:1em;
	}

	#right{
		display:flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex:1;
		padding:1em;
	}

	#mainData, #navigation{
		padding:0;
	}

	#nav2 #navigation {
		background-color: transparent;
		padding: 1em 0 ;
		/*position: fixed;
		bottom:0;
		left:0;*/
		float:right;
	}

	#nav2 #navigation #subnavigation {
		float:left;
		margin:0 1em 0 0;
		padding:0;
	}

	#nav2 #navigation #subnavigation button {
		padding:0.2em 0.5em;
		margin: 0 0.2em;
		font-size:120%;
		color:#fff;
	}	

	#nav2 #navigation #progress {
		float:left;
		margin:0 1em 0 0;
		padding:0;		
	}	

	#nav2 #navigation button {
		float:left;
		margin:0;
		padding:0;		
	}	

	#picture{
		flex:2;
		display:flex;
		flex-direction: column;
		flex-wrap: wrap;  
		padding:1em;  
	}



	#camZone {
	/*	flex:1;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;   
		align-items: center;
		justify-content: center;     */
	}

	#dropZone {
		flex:2;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;   
	}

	#dropPhoto {
		text-align: center;
	}

	#camara {
		display:inline-block;
		margin: 1%;
	}

	#snapshot{
		display:inline-block;
		margin: 1%;
	}

	#address {
		flex:2;
		padding:1em;
	}

	#signature{
		flex:2;
		padding:1em;
		text-align: center;
	}

	#content {


	}

	input:invalid {
		background-color:red;
	}


#myForm, #myForm2 {
	margin: 1em auto;
	clear:both;


padding:1em;
}

#resultWorker {
	display:block;
	font-size:90%;
	float:right;
	color:#fff;
	margin:1em;
	padding:0;
}

header nav {
	float:right;
	margin:0.8em 0;
	padding:0;
}

header nav ul{
	float:left;
	margin:0 0.5em 0 0;
	padding:0;
	list-style-type: none;

}

header nav ul li{
	float:left;
	margin:0 1em 0 0;
	padding:0;


}

header nav ul li a{
	display:block;
border:3px solid #fff;
	padding:4px;
	text-decoration: none;
	background-color:#fff;
	color:#000;
		border-radius:20px;
		width:100%;
box-shadow: 4px 4px 2px #000;
}

header nav ul li a.selected{
	font-weight:bolder;
	color:#fff;
	border-color:#fff;
	background-color: blue
}

     #myForm input:invalid { background-color: lightPink;}
     #myForm input:valid { background-color:lightGreen; }
     #myForm input:required {border: 2px solid red;}
     #myForm input:optional {border: 2px solid green;}
     #myForm label { display: inline-block; width:250px;text-align: left; font-weight:bolder; font-size:150%;}	

     #myForm input {color:#000;font-size:150%;}

     #myForm2 input:invalid { background-color: lightPink;}
     #myForm2 input:valid { background-color:lightGreen; }
     #myForm2 input:required {border: 2px solid red;}
     #myForm2 input:optional {border: 2px solid green;}
     #myForm2 label { display: inline-block; width:250px;text-align: left; font-weight:bolder;font-size:150%;}	

     #myForm2 input {color:#000;font-size:150%;}     


#agevalues {
	font-size:250%;
}


     #myCanvas {
     	border: 1px solid #000;
     }

     #mapPic {
     	float:left;
     	margin: 1em 0 0 1em;
     	border:2px solid red;
     }

     #addressData {
     	margin-right:1em;
     	float:left;

     }

     #msg {
     	padding:0;
     	margin:0;
     }

     #address {
     	padding:0;
     	margin:0;
     	border-bottom:1px solid red;
     }     


     #mySignature {

     	border:2px solid blue;
     }



#apply {
	background-color:transparent;
	border-color:#fff;
}

#results {
	border:1px solid #000;
	width:600px;
	height:300px;
	margin:1em auto;
	text-align:left;
	line-height: 1.2;

}

     /* progress bar */

progress {
	width: 400px;
	height: 14px;
	margin: 0.5em auto 1em auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: 1px solid #fff;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #ba7448, #c4672d);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

/* Prefix-free was creating issues with the animation */


/* placeholder */

::-webkit-input-placeholder {
   color: #aaa;
}

:-moz-placeholder { /* Firefox 18- */
   color: #aaa;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;
}

:-ms-input-placeholder {  
   color: #aaa;
}


/* full screen */
:-webkit-full-screen {
  /* properties */
}

:-moz-full-screen {
  /* properties */
}

:-ms-fullscreen {
  /* properties */
}

:full-screen { /*pre-spec */
  /* properties */
}

:fullscreen { /* spec */
  /* properties */
}

/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

/* styling the backdrop*/
::backdrop {
  /* properties */
}
::-ms-backdrop {
  /* properties */
}


#tableResumes {
	
	padding:0;
	margin:1em auto;
	display:inline-table;
	overflow:scroll;
	background-color:darkblue;

}

#tableResumes th {
	font-weight: bolder;
	background-color: blue;
	color:#fff;
	margin:0;
	padding:0.4em;
	text-align:center;
}

#tableResumes td {
	padding:0.2em;
	background-color: #fff;
	text-align:center;

}

#mainPicture {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;	
    margin:2em 2em 0 2em;
    border:6px solid blue;
}
#mainPicture img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%; 
}

h3 {
	font-size:600%;
	font-weight:bolder;
	color:blue;
	margin: 0 1em;
	padding:0 auto;
	border-bottom:2px solid #000;
}

#ageData {
	font-size:200%;
	margin: auto;
	padding:0 auto;
	float:left;
}

#worksFor {
	font-size:200%;
	margin: auto;
	padding:0 auto;
	float:right;
}

#mainSignature {
     margin: 0 2em;
}

h4 {
	font-size:150%;
	color:blue;
	border-bottom:1px dotted blue;
	text-align:left;
}

#contactInfo {
	width:100%;
	padding-top:3em;
}

#yourAddressData {
	width:40%;
	display:inline-block;
	vertical-align:top;
	margin-top: 3em;
	text-align:left;
	padding-left:1em;
}

#yourContactData {
	width:40%;
	display:inline-block;
	vertical-align:top;
	margin-top: 3em;
	text-align:left;
	padding-left:1em;
}

#mainLeft {
float:left;
}

#mainRight {
float:left;
margin-left:3em;
}

#resultsSaved {
	    background-color: transparent;
    display: block;
    border-bottom: 2px solid blue;
}

#resultsSaved span {
	display:block;

}

#introduction {
	clear:both;
	float:right;
	margin:0;
	padding:0.5em;
	background-color:#eaeaea;
	width:100%;
}

#introduction button{
	float:left;
}

#introduction p{
	float:left;
	margin-left:40px;
	line-height:1.2;
}

#ageWork {
	clear:both;
	float:left;
	margin:0;
	padding:0.5em;
	width:100%;
}

span[contenteditable="true"] {
   border: 2px dashed blue;
   background-color:lightblue;
}

#editButtons {
	float:left;
	width:100%;
	margin:0;
}

#editButtons button {
	float:right;
	margin-right:5px;
}

#editButtons button#launchFullScreenButton {
	float:left;
	margin-left:5px;
}

